/* General Styling */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif, Helvetica, Tahoma, Georgia;
}



/* styling for form/container */
.formContainer {
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

form {
    background: #E2E8F0;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h4 {
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 800;
    margin: 10px;
}

form input,
form textarea {
    border: 0;
    margin: 7px;
    padding: 5px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    width: 100%;
}

form div {
    margin-left: 10%;
    margin-right: 10%;
}

#userInputSection button {
    display: grid;
    justify-content: center;
    justify-self: center;
}

#popUpTicket button {
    background: #e8a87c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    padding: 7px;
    width: 150px;
}

#userInputSection button,
#searchDiv button {
    background: #e8a87c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    padding: 7px;
    width: 100px;
}

form button {
    background: #e8a87c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    padding: 7px;
    width: 100px;
    margin: 18px auto;
}

#popUpTicket button:hover,
#userInputSection button:hover,
#searchDiv button:hover,
form button:hover {
    background-color: #e27d60;
}

.countersContainter>div {
    float: right;
    padding: 0.1rem 0 0 0;
    font-size: 0.875rem;
    margin: 0;
}

#popUpTicket {
    justify-items: center;
    background: #E2E8F0;
    padding: 5px;
    margin: 5px;

}

#staticQuote {
    justify-content: center;
}

#staticQuote>tr {
    display: flex;
    flex-direction: column;
    margin: 2% 5%;
    justify-content: center;
    align-content: center;
}

#staticQuote>tr>td {
    display: flex;
    justify-content: center;
    text-align: center;
}

table,
th,
tr,
td {

    border-radius: 3px;
    border: 3px solid;
    border-color: #96ADCF;
    border-spacing: 5.5px;
    width: auto;
}

#positions {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

/* tr {
    display: flex;
    flex-direction: row;
    width: auto;
} */

th,
td {
    padding: 5px;
    text-align: right;
    /* display: flex;
    flex-direction: column;
    align-items: flex-end; */
}

#runningCashTotal {
    text-align: center;
}

#popUpTicket {
    display: none;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header,
nav,
main,
footer,
#introductionSection,
#userInputSection,
#searchSection,
#positions,
#currentPositions {
    grid-column-start: 1;
    grid-column-end: 13;
}

.index-main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

#headerLogo {
    display: flex;
    align-items: center;
}

#brandPart1 {
    color: #304769;

    font-size: 50px;
    font-weight: bold;

}

#brandPart2 {
    color: gray;
    font-size: 50px;


}

#headerGreeting {
    display: flex;
}

#introductionSection {
    text-align: center;
    padding: 15px;
    font-size: 1rem;
}


.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background: #96ADCF;
    color: white;
}

.navbar-links {
    display: none;
    width: 100%;

}

.navbar-links>ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.navbar-links.active {
    display: flex;
    margin: 5px;
}

.navbar-links>ul>li {
    display: inline-block;
    line-height: 35px;
}

.navbar-links>ul>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin: 0.1rem;
    padding: 0.1rem;
    display: block;
    font-size: 18px;

}

a.active,
.navbar-links>ul>li>a:hover {
    background-color: #5076AF;
    border-radius: 10px;
    transition: 0.25s;
    font-weight: bold;
    display: inline-block;
}

.hamburger-btn {
    margin: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.hamburger-btn>.bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
}





#userInputSection>div {
    display: grid;
}

#transactionDiv>div,
#userInfoDiv>div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#userInfoDiv>div>label,
#transactionDiv>div>label {
    display: grid;
    justify-content: center;
    justify-items: center;
}

#userInputSection>h4,
#searchSection>div>h4 {
    display: grid;
    text-align: center;
    margin: 10px;
}

#searchDiv {
    display: grid;

}

#dataSearch,
#searchSubmit,
#trade,
#reset {
    display: flex;
    margin: 5px;
    justify-content: center;
    align-content: center;
}

#refreshButton,
#buyButton,
#refreshButton2,
#sellButton {
    margin: 5px;
}

.tradeButtonDiv {
    display: flex;
}

#fName,
#lName,
#email,
#deposit,
#withdraw,
#dataSearch {
    margin: 7px;
    padding: 5px;
    background: #f5f5f5;
    outline: none;
    font-size: 16px;
    width: 100%;
    justify-self: center;
    max-width: 400px;
}

#searchButtonDiv {
    display: flex;
    flex-direction: row;
    justify-self: center;

}

#searchSection {
    display: grid;

}

#buyConfirmationDiv,
#sellConfirmationDiv {
    margin: 3px;
    border: solid;
    border-color: #96ADCF;
    border-radius: 5px;
    display: grid;
}

#buyConfirmationDiv {
    padding: 13px 10px 10px 10px;
}

#sellConfirmationDiv {
    padding: 10px 10px 13px 10px;
}


footer {
    background-color: #96ADCF;
}

.page-bottom {
    color: white;
    padding-top: 10px;
    font-size: 1.2em;
    text-align: center;
}

footer>.social-media-icons {
    font-size: 40px;
    display: grid;
    justify-content: center;
}

#footer-github-icon {
    height: auto;
    color: black;
    grid-column: 1 / 2;
}

#footer-linkedin-icon {
    height: auto;
    color: #0e76a8;
    grid-column: 2 / 2;

}


@media screen and (min-width: 361px) {}

@media screen and (min-width: 720px) {

    #popUpticketDiv {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hamburger-btn {
        display: none;
    }

    .navbar-links {
        display: flex;
    }

    .navbar-links>ul {
        flex-direction: row;
    }

    #footer-linkedin-icon {
        font-size: 45px;
    }

    #footer-github-icon {
        font-size: 45px;
    }


}


@media screen and (min-width: 1007px) {

    #userInputSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #userInputSection>h4 {
        grid-column-start: 1;
        grid-column-end: 13;
    }


    #transactionDiv>div>label,
    #transactionDiv>div>button,
    #userInfoDiv>div>label,
    #transactionDiv>div>button {
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    #footer-linkedin-icon {
        font-size: 50px;
    }

    #footer-github-icon {
        font-size: 50px;
    }

}